<div class="container">
<p id="notice"><%= notice %></p>
<p>
	<strong>Name: </strong>
	<%= @article.name %>
</p>
<p>
	<strong>Age: </strong>
	<%= @article.age %>
</p>

<%= link_to 'Back', articles_path %>
</div>
